<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569421883829-dvkhf3mjktbvsbisf6id7mku79p9egoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569421883829-dvkhf3mjktbvsbisf6id7mku79p9egoj</string>
	<key>API_KEY</key>
	<string>AIzaSyDtRhauRDSRM9LXBavWOs9gdeC0_icNnUg</string>
	<key>GCM_SENDER_ID</key>
	<string>569421883829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yhack2022</string>
	<key>PROJECT_ID</key>
	<string>yhack2022-99de7</string>
	<key>STORAGE_BUCKET</key>
	<string>yhack2022-99de7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569421883829:ios:bc4d4d648dc6a25ebf91fc</string>
</dict>
</plist>